venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.vscode
.idea
*.srl
*.doctree
/docs/_build
/docs/.sphinx/.doctrees
/docs/.sphinx/styles
docs/.sphinx/vale.ini
docs/.sphinx/warnings.txt
/docs/.sphinx
