#!/usr/bin/env python3
# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  init-limit:
    description: "Amount of time, in ticks, to allow followers to connect and sync to a leader."
    type: int
    default: 5
  sync-limit:
    description: "Amount of time, in ticks, to allow followers to sync with Apache ZooKeeper."
    type: int
    default: 2
  tick-time:
    description: "the length of a single tick, which is the basic time unit used by Apache ZooKeeper, as measured in milliseconds."
    type: int
    default: 2000
  log-level:
    description: "Level of logging for the different components operated by the charm. Possible values: ERROR, WARNING, INFO, DEBUG"
    type: string
    default: "INFO"
  certificate-include-ip-sans:
    type: boolean
    default: true
    description:
      Config option to enable or disable IP addresses in the subject alternative names (SAN) used for certificate signing requests for certificates. This should be set to false if the related TLS provider does not support IP addresses in certificates. When removing IPs, it is expected that DNS is setup correctly to resolve unit addresses.
  expose-external:
    description: "String to determine how to expose the Apache ZooKeeper cluster externally from the Kubernetes cluster. Possible values: 'nodeport', 'loadbalancer', 'false'"
    type: string
    default: "false"
  loadbalancer-extra-annotations:
    description: "String in json format to describe extra configuration for load balancers. Needed for some cloud providers or services."
    type: string
    default: ""
